<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://secufiles.com/5krn/com.ea.nfs2014.lf_2.8.5.ipa?download_token=4c607a180ae598ac7c8391fdb669e52a2a299564a37aa0429ec3a815f61844e3</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://cdn.rawgit.com/phamchi/test/master/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://cdn.rawgit.com/phamchi/test/master/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ea.nfs2014.lf</string>
				<key>bundle-version</key>
				<string>2.8.5</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Need For Speed No Limits iOSGods.com</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
